In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
#1st Data Set imported
# load into a data frame
# zip code is showing as float with .0 decimals
facilities_file = "Wastewater_Treatment_Plants.csv"
facilities_info_df = pd.read_csv(facilities_file)
facilities_info_df.head()

,Plant Type,SPDES Permit Number,Facility Name,Ground or Surface,Average Design Hydraulic Flow,Street,City,State,Country,Zip Code,Latitude,Longitude,Location 1
0,Industrial,NY0208752,PATCHOGUE LAUNDROMAT,Ground,0.02,387 E MAIN ST,PATCHOGUE,NY,USA,11772.0,NaN,NaN,NaN
1,Industrial,NY0218090,Sunoco Marcy Terminal,Surface,NaN,9678 RIVER RD,MARCY,NY,USA,13403.0,43.13,-75.25,"(43.13, -75.25)"
2,Industrial,NY0247367,MCWA WEBSTER WTP AND LAKE WATER PUMP STATION,Surface,NaN,E SIDE WATER SUPPLY,WEBSTER/PENFIELD,NY,USA,NaN,NaN,NaN,NaN
3,Industrial,NY0264041,FAIR ST DPW FACILITY,Surface,NaN,842 FAIR ST,CARMEL,NY,USA,10512.0,41.47,-73.64,"(41.47, -73.64)"
4,Industrial,NY0266850,Suffolk County Water Authority,Ground,0.09,ENTIRE WATER DISTRICT WIDE,SUFFOLK,NY,USA,NaN,NaN,NaN,NaN

In [3]:
# convert the data frame

facilities_df = pd.DataFrame(facilities_info_df, dtype=object)
print(facilities_df)

      Plant Type SPDES Permit Number  \
0     Industrial           NY0208752
1     Industrial           NY0218090
2     Industrial           NY0247367
3     Industrial           NY0264041
4     Industrial           NY0266850
5     Industrial           NY0272442
6      Municipal           NY0020320
7      Municipal           NY0030341
8      Municipal           NY0247251
9     Industrial           NY0205397
10    Industrial           NY0243931
11    Industrial           NY0002321
12    Industrial           NY0268879
13     Municipal           NY0026034
14    Industrial           NY0256480
15     Municipal           NY0023272
16     Municipal           NY0020559
17    Industrial           NY0231924
18     Municipal           NY0062570
19    Industrial           NY0270148
20     Municipal           NY0026956
21     Municipal           NY0269573
22    Industrial           NY0276782
23    Industrial           NY0202606
24    Industrial           NY0256251
25    Industrial           NY0291196
26    Industrial           NY0091081
27    Industrial           NY0005037
28     Municipal           NY0031208
29    Industrial           NY0264270
...          ...                 ...
2081  Industrial           NY0161730
2082  Industrial           NY0276863
2083  Industrial           NY0203874
2084   Municipal           NY0029238
2085   Municipal           NY0105007
2086  Industrial           NY0226769
2087  Industrial           NY0211478
2088  Industrial           NY0109690
2089  Industrial           NY0259128
2090  Industrial           NY0264748
2091  Industrial           NY0279951
2092   Municipal           NY0030813
2093   Municipal           NY0277827
2094  Industrial           NY0008231
2095   Municipal           NY0268615
2096  Industrial           NY0183661
2097  Industrial           NY0284084
2098  Industrial           NY0110078
2099  Industrial           NY0107077
2100  Industrial           NY0257974
2101  Industrial           NY0090191
2102  Industrial           NY0219959
2103  Industrial           NY0020737
2104   Municipal           NY0100242
2105  Industrial           NY0243086
2106  Industrial           NY0003395
2107  Industrial           NY0255963
2108  Industrial           NY0276871
2109   Municipal           NY0036749
2110  Industrial           NY0250414

                                          Facility Name Ground or Surface  \
0                                  PATCHOGUE LAUNDROMAT            Ground
1                                 Sunoco Marcy Terminal           Surface
2          MCWA WEBSTER WTP AND LAKE WATER PUMP STATION           Surface
3                                  FAIR ST DPW FACILITY           Surface
4                        Suffolk County Water Authority            Ground
5                             HIGH FALLS WATER DISTRICT           Surface
6                                       ADDISON - V STP           Surface
7                                       PORT LEYDEN STP           Surface
8                                         JASPER-T WWTP           Surface
9                                    COOLEY MOTORS CORP           Surface
10            FULTON MUNICIPAL WATER TREATMENT FACILITY           Surface
11                     DUNKIRK STEAM GENERATING STATION           Surface
12                            COUNTRY SQUARE LAUNDROMAT           Surface
13                                  EAST GREENBUSH WWTP           Surface
14                     PORT KENT WATER FILTRATION PLANT           Surface
15                                        MAYBROOK WWTP           Surface
16                                   WEEDSPORT (V) WWTP           Surface
17                    SUNOCO SYRACUSE TED PARK TERMINAL           Surface
18                      BLACKBERRY HILL SANITARY SD STP           Surface
19                                 ARSENAL STONE QUARRY           Surface
20                                       ONEIDA - C STP           Surface
21                                      CANASERAGA WWTP           Surface
22    NYC EDC - CONEY ISLAND INFRASTRUCTURE PROJECT ...           Surface
23                       NYS DOT AURORA RES ENGR HDQTRS           Surface
24                      WILLSBORO WATER TREATMENT PLANT           Surface
25                  HOPS AND HOUNDS BREWING COMPANY INC            Ground
26                             SCSD #28 - FAIRFIELD STP            Ground
27                                  RAVENA CEMENT PLANT           Surface
28                       SAUGERTIES (V) DOCK STREET STP           Surface
29    METRO NORTH RAILROAD NORTH WHITE PLAINS RAIL YARD           Surface
...                                                 ...               ...
2081                                PHILIPS LIGHTING CO            Ground
2082  NYC DDC - HWR1132B Street Reconstruction and I...           Surface
2083                    FREDONIA WATER FILTRATION PLANT           Surface
2084                       OSWEGO - T SLEEPY HOLLOW STP           Surface
2085                                         JORDAN STP           Surface
2086                              COIN DISCOUNT LAUNDRY            Ground
2087                                    DANS LAUNDROMAT            Ground
2088                        WHEELABRATOR WESTCHESTER LP           Surface
2089                         CONEWANGO SUB HEADQUARTERS           Surface
2090                GRAHAMSVILLE HYDROELECTRIC FACILITY           Surface
2091                           BLUE POINT RD WELL FIELD            Ground
2092                         MANCHESTER SHORTSVILLE STP           Surface
2093               TOWN OF BROOKHAVEN SEWER DISTRICT #2            Ground
2094                         ROSETON GENERATING STATION           Surface
2095                            STOCKPORT WATER DIST #2           Surface
2096                       ADIRONDACK LAKE FIELD SURVEY            Ground
2097                         S NEW BERLIN WATER DISTICT           Surface
2098                   BUCKEYE ROCHESTER NORTH TERMINAL           Surface
2099          CORNELL UNIVERSITY WATER FILTRATION PLANT           Surface
2100                        MAINTENANCE SUBHEADQUARTERS           Surface
2101                                           MOOG INC           Surface
2102              RESIDENT ENGR'S HQ - REG 8/MIDDLETOWN           Surface
2103                        HANSON - LACONA PLANT NORTH           Surface
2104                                  LILY DALE SD WWTF           Surface
2105                                UNITED SILICONE INC           Surface
2106                          TITANX ENGINE COOLING INC           Surface
2107                   CHESTERFIELD WATER SUPPLY SYSTEM           Surface
2108                                DELTA AIR LINES INC           Surface
2109                                   MINETTO - T WPCP           Surface
2110          INDIAN POINT 2 LLC AND INDIAN POINT 3 LLC           Surface

     Average Design Hydraulic Flow  \
0                             0.02
1                              NaN
2                              NaN
3                              NaN
4                             0.09
5                              NaN
6                             0.42
7                             0.06
8                             0.04
9                                0
10                               1
11                           578.5
12                            0.01
13                             2.5
14                             NaN
15                             0.4
16                            0.55
17                            1.56
18                            0.07
19                             0.5
20                            3.75
21                             0.1
22                             7.2
23                               0
24                             NaN
25                             NaN
26                            0.14
27                              13
28                            1.36
29                             NaN
...                            ...
2081                          0.65
2082                          1.44
2083                          0.05
2084                          0.01
2085                          0.16
2086                          0.01
2087                          0.01
2088                            55
2089                             0
2090                           NaN
2091                           NaN
2092                          0.88
2093                           0.2
2094                         925.8
2095                           NaN
2096                             0
2097                           NaN
2098                          0.03
2099                          0.02
2100                             0
2101                           NaN
2102                             0
2103                          0.06
2104                          0.05
2105                             0
2106                          0.23
2107                           0.1
2108                          0.43
2109                           0.2
2110                       2800.74

                                                 Street              City  \
0                                         387 E MAIN ST         PATCHOGUE
1                                         9678 RIVER RD             MARCY
2                                   E SIDE WATER SUPPLY  WEBSTER/PENFIELD
3                                           842 FAIR ST            CARMEL
4                            ENTIRE WATER DISTRICT WIDE           SUFFOLK
5                                         186 MOHONK RD        HIGH FALLS
6                                              FRONT ST           ADDISON
7                                            LINCOLN ST       PORT LEYDEN
8                                             GRANGE ST            JASPER
9                                                 RTE 4     DEFREESTVILLE
10    960 S FIRST ST (CO RTE 57) - W SIDE - S OF ST ...            FULTON
11                                   106 POINT DR NORTH           DUNKIRK
12                           ST RTE 32 - IN BRYANTS PLZ        GREENVILLE
13                                     80 COLUMBIA TPKE        RENSSELAER
14                                     308 TREMBLEAU RD        KEESEVILLE
15    ST RTE 208 - E SIDE - BETWEEN COUNTRY CLUB DR ...          MAYBROOK
16                                         2601 EARL ST         WEEDSPORT
17                                       2951 ENERGY DR           WARNERS
18                                   SCOTT PL & NOEL CT          BREWSTER
19                                    19199 Concrete Dr        Hounsfield
20                                        387 HARDEN ST            ONEIDA
21    ST RTE 70 - N SIDE - S OF CANASERAGA CRK - JUS...        CANASERAGA
22                             NEPTUNE AVE AT W 21ST ST          BROOKLYN
23                                         798 OLEAN RD       EAST AURORA
24                                       343 FARRELL RD         WILLSBORO
25                                      4556 WEBSTER RD          FREDONIA
26                                      221 MORICHES RD       SAINT JAMES
27                                       1916 US RTE 9W            RAVENA
28                                              DOCK ST        SAUGERTIES
29                                         24 FISHER LN      WHITE PLAINS
...                                                 ...               ...
2081                                     7265 ST RTE 54              BATH
2082  Streetbeds to the NE of Ocean Breeze Park (inc...     Staten Island
2083                               SPODEN RD & NY RT 60          FREDONIA
2084                                   SLEEPY HOLLOW RD            OSWEGO
2085                                        30 FOOTE ST            JORDAN
2086                    20 FLOYD RD|SCTM# 200-88-5-72.1           SHIRLEY
2087                                    133 CALEBS PATH     CENTRAL ISLIP
2088                                   1 CHARLES PT AVE         PEEKSKILL
2089                                     5732 US RTE 62         CONEWANGO
2090                               EAST DELAWARE TUNNEL      GRAHAMSVILLE
2091                                282 BLUE POINT RD W        HOLTSVILLE
2092               3980 ST RTE 96 AT CANANDAIGUA OUTLET       SHORTSVILLE
2093                           LIE & WILLIAM FLOYD PKWY           YAPHANK
2094                                       992 RIVER RD          NEWBURGH
2095                        CO RTE 25 & ROSSMAN HILL RD            HUDSON
2096                                     1115 ST RTE 86         RAY BROOK
2097                  NYS RTE 23|HAMLET OF S NEW BERLIN        NEW BERLIN
2098                                     754 BROOKS AVE         ROCHESTER
2099                 101 Caldwell Rd|Tax Parcel 67.-1-8            Ithaca
2100                                 ST RTES 12 AND 12D         LYONSDALE
2101                           SENECA ST AND JAMISON RD              ELMA
2102          US RTE 6 - W SIDE - BETW I-84 & CO RTE 56        MIDDLETOWN
2103                                    48 SALISBURY ST            LACONA
2104                           LILY DALE OFF FRISBEE RD       POMFRET (T)
2105                                    4471 WALDEN AVE         LANCASTER
2106                                      2258 ALLEN ST         JAMESTOWN
2107                 BUTTERNUT POND, FRONTAGE RD, RTE 9        KEESEVILLE
2108                               1 LAGUARDIA AIR PORT          FLUSHING
2109                                      2086 SNELL RD           MINETTO
2110                                       450 BROADWAY          BUCHANAN

     State Country Zip Code Latitude Longitude       Location 1
0       NY     USA    11772      NaN       NaN              NaN
1       NY     USA    13403    43.13    -75.25  (43.13, -75.25)
2       NY     USA      NaN      NaN       NaN              NaN
3       NY     USA    10512    41.47    -73.64  (41.47, -73.64)
4       NY     USA      NaN      NaN       NaN              NaN
5       NY     USA    12440      NaN       NaN              NaN
6       NY     USA    14801    42.11    -77.22  (42.11, -77.22)
7       NY     USA    13433    43.59    -75.34  (43.59, -75.34)
8       NY     USA    14855    42.12     -77.5   (42.12, -77.5)
9       NY     USA    12144    42.67    -73.69  (42.67, -73.69)
10      NY     USA    13069    43.31    -76.39  (43.31, -76.39)
11      NY     USA    14048    42.49    -79.35  (42.49, -79.35)
12      NY     USA    12083    42.43    -74.02  (42.43, -74.02)
13      NY     USA    12144    42.63    -73.74  (42.63, -73.74)
14      NY     USA    12944    44.52    -73.41  (44.52, -73.41)
15      NY     USA    12543     41.5    -74.21   (41.5, -74.21)
16      NY     USA    13166    43.05    -76.57  (43.05, -76.57)
17      NY     USA    13164     43.1     -76.3    (43.1, -76.3)
18      NY     USA    10509    41.41    -73.61  (41.41, -73.61)
19      NY     USA    13685    43.96    -75.99  (43.96, -75.99)
20      NY     USA    13421     43.1    -75.65   (43.1, -75.65)
21      NY     USA    14822    42.47    -77.77  (42.47, -77.77)
22      NY     USA    11224    40.58    -73.99  (40.58, -73.99)
23      NY     USA    14052    42.74     -78.6   (42.74, -78.6)
24      NY     USA    12996    44.39    -73.39  (44.39, -73.39)
25      NY     USA    14063    42.42    -79.36  (42.42, -79.36)
26      NY     USA    11784    40.87    -73.14  (40.87, -73.14)
27      NY     USA    12143     42.5    -73.81   (42.5, -73.81)
28      NY     USA    12477    42.07    -73.94  (42.07, -73.94)
29      NY     USA    10603    41.05    -73.77  (41.05, -73.77)
...    ...     ...      ...      ...       ...              ...
2081    NY     USA    14810    42.35    -77.31  (42.35, -77.31)
2082    NY     USA    10305    40.59    -74.08  (40.59, -74.08)
2083    NY     USA    14048     42.4    -79.31   (42.4, -79.31)
2084    NY     USA    13126    43.43    -76.58  (43.43, -76.58)
2085    NY     USA    13080    43.07    -76.47  (43.07, -76.47)
2086    NY     USA    11967     40.8    -72.86   (40.8, -72.86)
2087    NY     USA    11722     40.8    -73.22   (40.8, -73.22)
2088    NY     USA    10566    41.28    -73.94  (41.28, -73.94)
2089    NY     USA    14725    42.25    -79.03  (42.25, -79.03)
2090    NY     USA      NaN    41.86    -74.51  (41.86, -74.51)
2091    NY     USA    11742     40.8    -73.05   (40.8, -73.05)
2092    NY     USA    14548    42.97    -77.22  (42.97, -77.22)
2093    NY     USA    11980    40.85    -72.88  (40.85, -72.88)
2094    NY     USA    12550    41.57    -73.97  (41.57, -73.97)
2095    NY     USA    12534    42.34    -73.74  (42.34, -73.74)
2096    NY     USA    12977     44.3    -74.08   (44.3, -74.08)
2097    NY     USA    13411    42.53    -75.39  (42.53, -75.39)
2098    NY     USA    14619    43.14    -77.66  (43.14, -77.66)
2099    NY     USA    14853    42.45    -76.46  (42.45, -76.46)
2100    NY     USA    13368    43.62    -75.37  (43.62, -75.37)
2101    NY     USA    14059     42.8    -78.65   (42.8, -78.65)
2102    NY     USA    10940    41.41    -74.44  (41.41, -74.44)
2103    NY     USA    13083    43.65    -76.07  (43.65, -76.07)
2104    NY     USA      NaN    42.35    -79.33  (42.35, -79.33)
2105    NY     USA    14086    42.93     -78.6   (42.93, -78.6)
2106    NY     USA    14701    42.11    -79.21  (42.11, -79.21)
2107    NY     USA    12944    44.43    -73.49  (44.43, -73.49)
2108    NY     USA    11371    40.77    -73.86  (40.77, -73.86)
2109    NY     USA    13115     43.4    -76.48   (43.4, -76.48)
2110    NY     USA    10511    41.27    -73.95  (41.27, -73.95)

[2111 rows x 13 columns]

In [4]:
# new data frame shows zip code correctly
facilities_df.head()

,Plant Type,SPDES Permit Number,Facility Name,Ground or Surface,Average Design Hydraulic Flow,Street,City,State,Country,Zip Code,Latitude,Longitude,Location 1
0,Industrial,NY0208752,PATCHOGUE LAUNDROMAT,Ground,0.02,387 E MAIN ST,PATCHOGUE,NY,USA,11772,NaN,NaN,NaN
1,Industrial,NY0218090,Sunoco Marcy Terminal,Surface,NaN,9678 RIVER RD,MARCY,NY,USA,13403,43.13,-75.25,"(43.13, -75.25)"
2,Industrial,NY0247367,MCWA WEBSTER WTP AND LAKE WATER PUMP STATION,Surface,NaN,E SIDE WATER SUPPLY,WEBSTER/PENFIELD,NY,USA,NaN,NaN,NaN,NaN
3,Industrial,NY0264041,FAIR ST DPW FACILITY,Surface,NaN,842 FAIR ST,CARMEL,NY,USA,10512,41.47,-73.64,"(41.47, -73.64)"
4,Industrial,NY0266850,Suffolk County Water Authority,Ground,0.09,ENTIRE WATER DISTRICT WIDE,SUFFOLK,NY,USA,NaN,NaN,NaN,NaN

In [5]:
# changed column names
new_data = facilities_df.rename(columns = {"Plant Type": "plant_type", 
                                  "SPDES Permit Number":"SPDES_Permit", 
                                  "Facility Name": "Facility_name",
                                  "Ground or Surface":"Ground_Surface",
                                  "Average Design Hydraulic Flow":"Avg_DH_Flow",
                                  "Street":"Street_address",
                                  "Zip Code":"Zip_Code"}) 

new_data.head()

,plant_type,SPDES_Permit,Facility_name,Ground_Surface,Avg_DH_Flow,Street_address,City,State,Country,Zip_Code,Latitude,Longitude,Location 1
0,Industrial,NY0208752,PATCHOGUE LAUNDROMAT,Ground,0.02,387 E MAIN ST,PATCHOGUE,NY,USA,11772,NaN,NaN,NaN
1,Industrial,NY0218090,Sunoco Marcy Terminal,Surface,NaN,9678 RIVER RD,MARCY,NY,USA,13403,43.13,-75.25,"(43.13, -75.25)"
2,Industrial,NY0247367,MCWA WEBSTER WTP AND LAKE WATER PUMP STATION,Surface,NaN,E SIDE WATER SUPPLY,WEBSTER/PENFIELD,NY,USA,NaN,NaN,NaN,NaN
3,Industrial,NY0264041,FAIR ST DPW FACILITY,Surface,NaN,842 FAIR ST,CARMEL,NY,USA,10512,41.47,-73.64,"(41.47, -73.64)"
4,Industrial,NY0266850,Suffolk County Water Authority,Ground,0.09,ENTIRE WATER DISTRICT WIDE,SUFFOLK,NY,USA,NaN,NaN,NaN,NaN

In [13]:
 # Table #1, information about facilities
facilities_information = new_data[['SPDES_Permit','Zip_Code', 'Facility_name','plant_type','Ground_Surface','Avg_DH_Flow']].copy()
facilities_information.head()

,SPDES_Permit,Zip_Code,Facility_name,plant_type,Ground_Surface,Avg_DH_Flow
0,NY0208752,11772,PATCHOGUE LAUNDROMAT,Industrial,Ground,0.02
1,NY0218090,13403,Sunoco Marcy Terminal,Industrial,Surface,NaN
2,NY0247367,NaN,MCWA WEBSTER WTP AND LAKE WATER PUMP STATION,Industrial,Surface,NaN
3,NY0264041,10512,FAIR ST DPW FACILITY,Industrial,Surface,NaN
4,NY0266850,NaN,Suffolk County Water Authority,Industrial,Ground,0.09

In [23]:
#save it into a csv file
facilities_information.to_csv('facilities_info.csv')

In [18]:
# Table 2, locations
location_df = new_data[['Zip_Code','SPDES_Permit','Street_address','City','State','Country','Latitude','Longitude']].copy()
location_df.head()

,Zip_Code,SPDES_Permit,Street_address,City,State,Country,Latitude,Longitude
0,11772,NY0208752,387 E MAIN ST,PATCHOGUE,NY,USA,NaN,NaN
1,13403,NY0218090,9678 RIVER RD,MARCY,NY,USA,43.13,-75.25
2,NaN,NY0247367,E SIDE WATER SUPPLY,WEBSTER/PENFIELD,NY,USA,NaN,NaN
3,10512,NY0264041,842 FAIR ST,CARMEL,NY,USA,41.47,-73.64
4,NaN,NY0266850,ENTIRE WATER DISTRICT WIDE,SUFFOLK,NY,USA,NaN,NaN

In [25]:
#save file for second table
location_df.to_csv('location_info.csv')

In [30]:
# Load and Store the 2nd CSV into DataFrame
wastewater_file = "municipal-wastewater-treatment-plants.csv"
facility_treatment_df = pd.read_csv(wastewater_file)
facility_treatment_df.head()

,Permittee Name,Facility Name,County,SPDES Number,Chief Operator,Phone Number,Receiving Waterbody,Drainage Basin,Stream Class,Year Built,...,Metering,Sludge Digestion,Sludge Thickening,Sludge Dewatering,Sludge Conditioning,Sludge Drying Beds,Sludge Storage,Sludge Disposal,Lagoons,Additional Treatment
0,WATKINS GLEN (V),WATKINS GLEN (V) SEWAGE DISPOSAL PLANT,SCHUYLER,NY0020524,RICHARD J SCAPTURA,(607) 535-9962,SENECA LAKE,7,B(T),4/19/1905,...,ULTRASONIC,AEROBIC SLUDGE DIGESTION DIFFUSED AERATI,GRAVITY,BELT FILTER PRESS,POLYMER,NaN,NaN,LANDSPREADING / LANDFILL,NaN,NaN
1,MARCELLUS (V) WATER POLLUTION CONTRL PLT,MARCELLUS (V) W P C P,ONONDAGA,NY0020532,JOHN C HOPKINS,(315) 673-4491,NINE MILE CREEK,7,C(T),5/12/1905,...,PARSHALL FLUME / ULTRASONIC,AEROBIC SLUDGE DIGESTION DIFFUSED AERATI,NaN,BELT FILTER PRESS,LIME TREATMENT / POLYMER,COVERED DRYING BEDS / COVERED SAND / OPEN-ASPHALT,NaN,LANDFILL / TO ANOTHER TREATMENT PLANT / SCAVENGER,NaN,NaN
2,ALDEN (V),ALDEN (V) WASTEWATER TREATMENT PLANT,ERIE,NY0020541,ROBERT L HOLTZ,(716) 937-4497,ELLICOTT CREEK,1,C,5/13/1905,...,PARSHALL FLUME / ULTRASONIC,ANAEROBIC SLUDGE DIGESTION TWO STAGE,NaN,BELT FILTER PRESS,NaN,COVERED DRYING BEDS / OPEN DRYING BED,NaN,LANDFILL,NaN,POST AERATION
3,WEEDSPORT (V),WEEDSPORT (V) SEWAGE TREATMENT PLANT,CAYUGA,NY0020559,JOHN D O'CONNELL,(315) 834-6411,COLD SPRINGS BROOK,7,C,5/19/1905,...,WEIR,AEROBIC SLUDGE DIGESTION DIFFUSED AERATI,NaN,NaN,NaN,OPEN DRYING BED,NaN,LANDFILL / SCAVENGER,NaN,NaN
4,LONG BEACH (C),LONG BEACH (C) WPCP,NASSAU,NY0020567,WILLIAM R NOTHOLT,(516) 431-5691,REYNOLDS CHANNEL,17,SB,5/4/1905,...,OTHER FLUME TYPES / VENTURI TUBE,ANAEROBIC SLUDGE DIGESTION(NOT SPECIFIE),NaN,NaN,NaN,NaN,COVERED STORAGE TANKS,LANDFILL,NaN,NaN

In [31]:
#3rd Table,water waste recycling details
waste_water_df = facility_treatment_df[['SPDES Number','County','Receiving Waterbody','Drainage Basin','Stream Class','Year Built','Year Updated','Plant Class','Population Served']].copy()
waste_water_df.head()

,SPDES Number,County,Receiving Waterbody,Drainage Basin,Stream Class,Year Built,Year Updated,Plant Class,Population Served
0,NY0020524,SCHUYLER,SENECA LAKE,7,B(T),4/19/1905,6/21/1905,3A,2490.0
1,NY0020532,ONONDAGA,NINE MILE CREEK,7,C(T),5/12/1905,6/23/1905,2A,0.0
2,NY0020541,ERIE,ELLICOTT CREEK,1,C,5/13/1905,6/7/1905,3,3500.0
3,NY0020559,CAYUGA,COLD SPRINGS BROOK,7,C,5/19/1905,NaN,2A,2000.0
4,NY0020567,NASSAU,REYNOLDS CHANNEL,17,SB,5/4/1905,6/25/1905,3,35000.0

In [32]:
#convert 2nd data frame
waste_fac_df = pd.DataFrame(waste_water_df, dtype=object)
print(waste_fac_df)

    SPDES Number       County        Receiving Waterbody Drainage Basin  \
0      NY0020524     SCHUYLER                SENECA LAKE              7
1      NY0020532     ONONDAGA            NINE MILE CREEK              7
2      NY0020541         ERIE             ELLICOTT CREEK              1
3      NY0020559       CAYUGA         COLD SPRINGS BROOK              7
4      NY0020567       NASSAU           REYNOLDS CHANNEL             17
5      NY0020621     ALLEGANY              GENESEE RIVER              4
6      NY0020656       MONROE             NORTHRUP CREEK              3
7      NY0020664       OSWEGO               OSWEGO RIVER              7
8      NY0020672      MADISON                PAYNE BROOK              6
9      NY0020681         ERIE                  LAKE ERIE              1
10     NY0020818  ST LAWRENCE             RAQUETTE RIVER              9
11     NY0020826   CHAUTAUQUA            CHAUTAUQUA LAKE              2
12     NY0020834      CLINTON  LAKE CHAMPLAIN-CUMBERLAND             10
13     NY0020869       GREENE               HUDSON RIVER             13
14     NY0020877       GREENE               HUDSON RIVER             13
15     NY0020907      GENESEE     OAK ORCHARD CREEK TRIB              3
16     NY0020923       ONEIDA             ORISKANY CREEK             12
17     NY0020931    JEFFERSON                BLACK RIVER              8
18     NY0020958     TOMPKINS                CAYUGA LAKE              7
19     NY0020966  CATTARAUGUS                DODGE CREEK              2
20     NY0020991        ESSEX               SUMNER BROOK             10
21     NY0021334   CHAUTAUQUA           CHAUTAUQUA CREEK              1
22     NY0021342      SUFFOLK          HUNTINGTON HARBOR             17
23     NY0021351     HERKIMER  MOOSE RIVER-MIDDLE BRANCH              8
24     NY0021369  ST LAWRENCE             RAQUETTE RIVER              9
25     NY0021377       ONEIDA            FISH CREEK-W BR              7
26     NY0021385       ONEIDA             ORISKANY CREEK             12
27     NY0008494     DELAWARE        DELAWARE RIVER-W BR             14
28     NY0020061      SUFFOLK              PECONIC RIVER             17
29     NY0020079      SUFFOLK          LONG ISLAND SOUND             17
..           ...          ...                        ...            ...
701    NY0255726     FRANKLIN           CHATEAUGAY RIVER              9
702    NY0255751      CLINTON              SARANAC RIVER             10
703    NY0255858     FRANKLIN             ST REGIS RIVER              9
704    NY0255971      CLINTON         LITTLE CHAZY RIVER             10
705    NY0257001       ONEIDA            FISH CREEK E BR              7
706    NY0257532  ST LAWRENCE                  ELM CREEK              9
707    NY0257559  ST LAWRENCE          SUCKER BROOK TRIB              9
708    NY0257613  ST LAWRENCE          OSWEGATCHIE RIVER              9
709    NY0257711        LEWIS                 DEER RIVER              8
710    NY0257737        LEWIS                BLACK RIVER              8
711    NY0257851    JEFFERSON               LAKE ONTARIO              3
712    NY0258075  CATTARAUGUS                GROUNDWATER              1
713    NY0258202  CATTARAUGUS    LITTLE CONNEWANGO CREEK              2
714    NY0258270  CATTARAUGUS     CATTARAUGUS CREEK S BR              1
715    NY0259519       ORANGE         BLACK MEADOW CREEK             13
716    NY0259811       PUTNAM              MUSCOOT RIVER             13
717    NY0259829       ULSTER           LATTINTOWN CREEK             13
718    NY0259861  WESTCHESTER               KATONAH BROK             13
719    NY0260223       PUTNAM             MUD POND BROOK             13
720    NY0260479     COLUMBIA               HUDSON RIVER             13
721    NY0260819       GREENE             CATSKILL CREEK             13
722    NY0260908       GREENE   LAKE RIP VAN WINKLE TRIB             12
723    NY0261271  SCHENECTADY          NORMANSKILL CREEK             13
724    NY0261742      MADISON             CHENANGO RIVER              6
725    NY0262480        TIOGA          SUSQUEHANNA RIVER              6
726    NY0262790     DELAWARE      DELAWARE RIVER - W BR             14
727    NY0262935       GREENE               BATAVIA KILL             12
728    NY0264008       ULSTER     TWAALFSKILL CREEK TRIB             13
729    NY0264121       PUTNAM                GROUNDWATER             13
730    NY0265217       WARREN                 GRONDWATER             10

    Stream Class Year Built Year Updated Plant Class Population Served
0           B(T)  4/19/1905    6/21/1905          3A              2490
1           C(T)  5/12/1905    6/23/1905          2A                 0
2              C  5/13/1905     6/7/1905           3              3500
3              C  5/19/1905          NaN          2A              2000
4             SB   5/4/1905    6/25/1905           3             35000
5           C(T)  4/20/1905    6/19/1905           3              5200
6              C  4/14/1905     6/8/1905          3A              4000
7              B  5/17/1905     6/1/1905          2A              2800
8              C  5/21/1905     6/9/1905          3A                 0
9           A(S)   5/3/1905     6/6/1905           2              7000
10             B  5/22/1905    6/21/1905          3A             10000
11             A   6/1/1905          NaN           2              3500
12             A   5/9/1905    5/30/1905           2               800
13             A  5/24/1905          NaN          2A              1700
14             A  5/24/1905          NaN          2A              1750
15             C  5/24/1905    6/23/1905           1               750
16         B(TS)  6/12/1905    6/24/1905           1               850
17             C  5/14/1905     6/4/1905          1A               400
18             A   5/9/1905    5/27/1905          4A             18000
19             C   5/4/1905    6/10/1905           1                 0
20          C(T)   6/8/1905    6/13/1905           1               500
21          C(T)  5/29/1905    6/10/1905          4A              3265
22            SA  3/29/1905     6/9/1905           3             26500
23          C(T)  5/16/1905     6/4/1905          2A              1200
24             B  5/23/1905          NaN           1              1879
25          C(T)  5/26/1905     6/7/1905          2A              2700
26         B(TS)  4/22/1905     6/2/1905          3A              6000
27           NaN        NaN          NaN         NaN               NaN
28            SC  4/20/1905    6/22/1905          4A                 0
29            SA  4/23/1905    6/19/1905          2A              2050
..           ...        ...          ...         ...               ...
701         C(T)  6/18/1905    6/25/1905         NaN               260
702            A  6/19/1905          NaN         NaN                50
703         C(T)  6/20/1905          NaN         IIA               800
704            C        NaN          NaN          3A               NaN
705         C(T)  6/22/1905          NaN           0               318
706            C        NaN          NaN           1               NaN
707            D  6/18/1905          NaN           1               500
708            B  6/20/1905          NaN         NaN               325
709            C  6/21/1905          NaN         NaN               900
710            C  6/22/1905          NaN           1               600
711            A  6/23/1905          NaN         NaN              1000
712           GA        NaN          NaN         NaN               NaN
713         C(T)  6/22/1905          NaN           1               NaN
714         C(T)  6/20/1905    6/21/1905         NaN                90
715            C        NaN          NaN         NaN               NaN
716         A(T)  6/20/1905          NaN         NaN               NaN
717            C  6/22/1905          NaN         NaN               NaN
718          NaN  4/22/1905          NaN         NaN               NaN
719         A(T)        NaN          NaN         NaN               NaN
720            A        NaN          NaN           2               NaN
721         B(T)  6/21/1905          NaN         NaN               900
722          NaN   6/1/1905          NaN         NaN               NaN
723            C  6/23/1905          NaN         NaN               900
724         C(T)  6/25/1905          NaN         NaN              1200
725            B  6/24/1905          NaN          2A               150
726          NaN   6/5/1905    6/21/1905         NaN               NaN
727        A(TS)  6/26/1905          NaN         NaN               NaN
728            D  6/21/1905          NaN         NaN               500
729           GA        NaN          NaN         NaN               NaN
730           GA        NaN          NaN         NaN               NaN

[731 rows x 9 columns]

In [34]:
new_data_2 = waste_fac_df.rename(columns = {"SPDES Number":"SPDES_Permit", 
                                  "Receiving Waterbody": "Receiving_Waterbody",
                                  "Drainage Basin":"Drainage_Basin",
                                  "Stream Class":"Stream_Class",
                                  "Year Built":"Year_Built",
                                  "Year Updated":"Year_Updated",
                                  "Plant Class":"Plant_Class",
                                  "Population Served":"Population_Served",
}) 

new_data_2.head()

,SPDES_Permit,County,Receiving_Waterbody,Drainage_Basin,Stream_Class,Year_Built,Year_Updated,Plant_Class,Population_Served
0,NY0020524,SCHUYLER,SENECA LAKE,7,B(T),4/19/1905,6/21/1905,3A,2490
1,NY0020532,ONONDAGA,NINE MILE CREEK,7,C(T),5/12/1905,6/23/1905,2A,0
2,NY0020541,ERIE,ELLICOTT CREEK,1,C,5/13/1905,6/7/1905,3,3500
3,NY0020559,CAYUGA,COLD SPRINGS BROOK,7,C,5/19/1905,NaN,2A,2000
4,NY0020567,NASSAU,REYNOLDS CHANNEL,17,SB,5/4/1905,6/25/1905,3,35000

In [35]:
#save file for 3rd table
new_data_2.to_csv('wastewater_fac.csv')

In [27]:
rds_connection_string = "postgres:198725Master@localhost:5432/Wastewater_Management"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [28]:
engine.table_names()

['facilities_info']

In [29]:
fac_data_df.to_sql(name='facilities_info', con=engine, if_exists='append', index=False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "SPDES_Permit" of relation "facilities_info" does not exist
LINE 1: INSERT INTO facilities_info ("SPDES_Permit", "Zip_Code", "Fa...
                                     ^

[SQL: INSERT INTO facilities_info ("SPDES_Permit", "Zip_Code", "Facility_name", plant_type, "Ground_Surface", "Avg_DH_Flow") VALUES (%(SPDES_Permit)s, %(Zip_Code)s, %(Facility_name)s, %(plant_type)s, %(Ground_Surface)s, %(Avg_DH_Flow)s)]
[parameters: ({'SPDES_Permit': 'NY0000078', 'Zip_Code': 14522.0, 'Facility_name': 'GARLOCK SEALING TECHNOLOGIES', 'plant_type': 'Industrial', 'Ground_Surface': 'Surface', 'Avg_DH_Flow': 0.04}, {'SPDES_Permit': 'NY0000132', 'Zip_Code': 13662.0, 'Facility_name': 'REYNOLDS METALS ST LAWRENCE REDUCTION PLANT', 'plant_type': 'Industrial', 'Ground_Surface': 'Surface', 'Avg_DH_Flow': 6.88}, {'SPDES_Permit': 'NY0000167', 'Zip_Code': None, 'Facility_name': 'RETSOF REALTY STORMWATER OUTFALLS', 'plant_type': 'Industrial', 'Ground_Surface': 'Surface', 'Avg_DH_Flow': 0.23}, {'SPDES_Permit': 'NY0000191', 'Zip_Code': 13642.0, 'Facility_name': 'DUNN PAPER - NATURAL DAM', 'plant_type': 'Industrial', 'Ground_Surface': 'Surface', 'Avg_DH_Flow': 0.29}, {'SPDES_Permit': 'NY0000281', 'Zip_Code': 14150.0, 'Facility_name': 'PRAXAIR INC', 'plant_type': 'Industrial', 'Ground_Surface': 'Surface', 'Avg_DH_Flow': 0.24}, {'SPDES_Permit': 'NY0000311', 'Zip_Code': 14424.0, 'Facility_name': 'PACTIV LLC', 'plant_type': 'Industrial', 'Ground_Surface': 'Surface', 'Avg_DH_Flow': 0.11}, {'SPDES_Permit': 'NY0000329', 'Zip_Code': 14502.0, 'Facility_name': 'JINDAL FILMS BUS & RESEARCH CENTRE', 'plant_type': 'Industrial', 'Ground_Surface': 'Surface', 'Avg_DH_Flow': 0.01}, {'SPDES_Permit': 'NY0000337', 'Zip_Code': 14150.0, 'Facility_name': 'PEROXYCHEM LLC', 'plant_type': 'Industrial', 'Ground_Surface': 'Surface', 'Avg_DH_Flow': 16.3}  ... displaying 10 of 2092 total bound parameter sets ...  {'SPDES_Permit': 'NY0291234', 'Zip_Code': 14086.0, 'Facility_name': 'AUTOWAVE INC', 'plant_type': 'Industrial', 'Ground_Surface': 'Surface', 'Avg_DH_Flow': 0.0}, {'SPDES_Permit': 'NY0291269', 'Zip_Code': 14101.0, 'Facility_name': 'CATTARAUGUS CO DPW - FRANKLINVILLE BARN', 'plant_type': 'Industrial', 'Ground_Surface': 'Surface', 'Avg_DH_Flow': 0.0})]
(Background on this error at: http://sqlalche.me/e/f405)

In [22]:
location_df.to_sql(name='locations', con=engine, if_exists='append', index=False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "Zip_Code" of relation "locations" does not exist
LINE 1: INSERT INTO locations ("Zip_Code", "SPDES_Permit", "Street_a...
                               ^

[SQL: INSERT INTO locations ("Zip_Code", "SPDES_Permit", "Street_address", "City", "State", "Country", "Latitude", "Longitude") VALUES (%(Zip_Code)s, %(SPDES_Permit)s, %(Street_address)s, %(City)s, %(State)s, %(Country)s, %(Latitude)s, %(Longitude)s)]
[parameters: ({'Zip_Code': 11772.0, 'SPDES_Permit': 'NY0208752', 'Street_address': '387 E MAIN ST', 'City': 'PATCHOGUE', 'State': 'NY', 'Country': 'USA', 'Latitude': None, 'Longitude': None}, {'Zip_Code': 13403.0, 'SPDES_Permit': 'NY0218090', 'Street_address': '9678 RIVER RD', 'City': 'MARCY', 'State': 'NY', 'Country': 'USA', 'Latitude': 43.13, 'Longitude': -75.25}, {'Zip_Code': None, 'SPDES_Permit': 'NY0247367', 'Street_address': 'E SIDE WATER SUPPLY', 'City': 'WEBSTER/PENFIELD', 'State': 'NY', 'Country': 'USA', 'Latitude': None, 'Longitude': None}, {'Zip_Code': 10512.0, 'SPDES_Permit': 'NY0264041', 'Street_address': '842 FAIR ST', 'City': 'CARMEL', 'State': 'NY', 'Country': 'USA', 'Latitude': 41.47, 'Longitude': -73.64}, {'Zip_Code': None, 'SPDES_Permit': 'NY0266850', 'Street_address': 'ENTIRE WATER DISTRICT WIDE', 'City': 'SUFFOLK', 'State': 'NY', 'Country': 'USA', 'Latitude': None, 'Longitude': None}, {'Zip_Code': 12440.0, 'SPDES_Permit': 'NY0272442', 'Street_address': '186 MOHONK RD', 'City': 'HIGH FALLS', 'State': 'NY', 'Country': 'USA', 'Latitude': None, 'Longitude': None}, {'Zip_Code': 14801.0, 'SPDES_Permit': 'NY0020320', 'Street_address': 'FRONT ST', 'City': 'ADDISON', 'State': 'NY', 'Country': 'USA', 'Latitude': 42.11, 'Longitude': -77.22}, {'Zip_Code': 13433.0, 'SPDES_Permit': 'NY0030341', 'Street_address': 'LINCOLN ST', 'City': 'PORT LEYDEN', 'State': 'NY', 'Country': 'USA', 'Latitude': 43.59, 'Longitude': -75.34}  ... displaying 10 of 2111 total bound parameter sets ...  {'Zip_Code': 13115.0, 'SPDES_Permit': 'NY0036749', 'Street_address': '2086 SNELL RD', 'City': 'MINETTO', 'State': 'NY', 'Country': 'USA', 'Latitude': 43.4, 'Longitude': -76.48}, {'Zip_Code': 10511.0, 'SPDES_Permit': 'NY0250414', 'Street_address': '450 BROADWAY', 'City': 'BUCHANAN', 'State': 'NY', 'Country': 'USA', 'Latitude': 41.27, 'Longitude': -73.95})]
(Background on this error at: http://sqlalche.me/e/f405)